@model MovieRegistration.Models.ResultViewModel



    <ul class="flex-outer">

        <h1>@Model.Title has been registered.</h1>



    </ul>

<style>

    .flex-outer {
        background-color: whitesmoke;
        list-style-type: none;
        padding: 1em;
        border-radius: 3px;
        outline-style: solid;
        position: relative;
        top: 50%;
        transform: translateY(50%);
        font-size: 150%;
    }

    h1 {
        display: flex;
        justify-content: center;
    }





</style>
